.profile {
  flex-grow: 1;
  padding: 24px;
  background: var(--dark);
  border-radius: 6px;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.group {
}

.group input {
  width: 100%;
  background: #212123;
  border-radius: 8px;
  color: var(--light);
  padding: 12px 24px;
}
