:root {
  --bg: #212123;
  --dark: #191919;
  --dark-sea: #576067;
  --grey: #b8b8b8;
  --white: #fff;
  --violet: #8b57c6;
  --violet-dark: #6c3eb8;
  --light: #f6f6f7;
  --sea: #616e74;
}

body {
  background: var(--bg);
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  width: 1274px;
  margin: 0 auto;

  @supports (overflow: clip) {
    overflow: clip;
  }
  > main {
    flex: 1 1 auto;
  }
  > * {
    min-width: 0;
  }
}

.ibg {
  position: relative;
}

.ibg > img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.icon {
  width: 12px;
  height: 12px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* align-items: flex-start; */
}

button {
  background: var(--violet-dark);
  border-radius: 6px;
  padding: 9px 20px;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
}

button:hover {
  background: var(--violet);
}

h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.preloader {
  flex-grow: 1;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
